<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>
	<session-factory>
		<!-- Enable c3p0 connection pooling, because hibernate pooling is not prod-ready.
			Apparently connection.provider_class is needed in hibernate 3+ -->
<!--		<property name="connection.provider_class">-->
<!--				org.hibernate.connection.C3P0ConnectionProvider-->
<!--		</property>-->
<!--		<property name="c3p0.max_size">100</property>-->
<!--		<property name="c3p0.min_size">1</property>-->
<!--		<property name="c3p0.idle_test_period">30</property>-->
<!--		-->
		<property name="connection.pool_size">3</property>
		<!-- Echo all executed SQL to stdout for debugging -->
		<property name="show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.highlight_sql">true</property>
<!--		<property name="use_sql_comments">true</property>-->

		<!-- All the entity classes for hibernate to check for annotations here -->

		<mapping class="by.train.model.one.Track" />

		<mapping class="by.train.model.several.assotiations1.AuthorBookTransient" />
		<mapping class="by.train.model.several.assotiations1.BookManyToOne" />

		<mapping class="by.train.model.several.assotiations2.AuthorOneToMany" />
		<mapping class="by.train.model.several.assotiations2.Book" />

		<mapping class="by.train.model.several.assotiations3.AuthorWrongMapped" />
		<mapping class="by.train.model.several.assotiations3.BookWrongMapped" />

		<mapping class="by.train.model.several.assotiations4.AuthorBidirectional" />
		<mapping class="by.train.model.several.assotiations4.BookBidirectional" />

		<mapping class="by.train.model.several.assotiations5.AuthorJoinTable" />
		<mapping class="by.train.model.several.assotiations5.BookJoinTable" />

<!--		<mapping class="by.train.model.several.assotiations2.Author" />-->
<!--		<mapping class="by.train.model.several.assotiations2.Book" />-->


	</session-factory>

</hibernate-configuration>